body {
  margin: 0;
  background: rgb(42, 40, 92);
  background: linear-gradient(
    180deg,
    rgba(42, 40, 92, 1) 35%,
    rgba(80, 107, 137, 1) 100%
  );
  font-family: 'Overpass', Sans-Serif;
  color: #ced4d6;
}
p {
  margin: 0;
}

.content {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

h2 {
  margin: 5px;
  font-size: 20px;
  color: #f6d304;
  font-family: 'Permanent Marker', Cursive;
}

button {
  border: none;
  background-color: #557441;
  font-family: 'Overpass', Sans-Serif;
  margin: 10px 0px 10px 0px;
}

input {
  background-color: #ced4d6;
  font-family: 'Overpass', Sans-Serif;
}
.top-players {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.top-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.your-score {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
}

.your-score h3 {
  font-size: 50px;
  margin: 20px;
}

.score-box {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-player {
  margin: 0px;
  font-size: 20px;
}

.top-score {
  margin: 0px;
  font-size: 20px;
}

.players-and-scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.score-form {
  display: flex;
  flex-direction: column;
}
